<!DOCTYPE html>

<html>

<head>

    <title>CockTail</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>

<body>

    <script src="{{ url_for('static', filename='main.js')}}"></script>

    <form class="CockTailForm" method="get" action="/results">
        <div class="search-group">
            <input type="search" id="fsearch" name="query" placeholder="Search for a CockTail...">
            <input type="submit" id="fsubmit" value="Search">
        </div>

        <input type="checkbox" id="falcholic" name="nonalcoholic" value="true"  {% if nonalcoholic %}checked{% endif %}>
        <label for="falcholic">Non-Alcoholic</label>
    </form>


    {% block content %}{% endblock %}

</body>

</html>